/**********************************
 * VARIABLES
 * utility
 */
/**********************************
 * MIXIN
 * utility
 */
/**********************************
 * COMMON
 * utility
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

a {
  color: #000000;
  text-decoration: none;
  transition: all 0.2s ease;
}

ul {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
}
.wrapper.w1 {
  width: 1150px;
}
.wrapper.w2 {
  width: 1550px;
}

.wrapper60 {
  width: 60%;
  margin: 0 auto;
}

.txt_logo {
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  color: #5f6368;
}

.txt_nav {
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
  color: #5f6368;
}

.txt_question {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #3c4043;
}

.txt_sub_title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: #3c4043;
}

.txt_footer {
  font-size: 11px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(61, 61, 61, 0.8);
}

/**********************************
 * HEADER
 * section
 */
header {
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  padding: 10px 20px 0;
  border-bottom: 1px solid #CCCCCC;
}
header .head_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  margin-bottom: 5px;
}
header .head_top .icons {
  display: flex;
  align-items: center;
}
header .head_top .icons img {
  margin-left: 20px;
}
header .head_top .icons img:last-child {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
header .head_top .icons img:first-child {
  width: 20px;
  height: 20px;
}
header .head_nav {
  height: 30px;
}
header .head_nav ul {
  display: flex;
  align-items: center;
}
header .head_nav ul li {
  margin-right: 45px;
}
header .head_nav ul li.selected {
  color: #3367d6;
  font-size: 500;
  padding-bottom: 7px;
  border-bottom: 3px solid #3367d6;
}

/**********************************
 * MAIN
 * section
 */
main {
  padding-top: 90px;
}
main .question {
  padding: 80px 0 10px;
}
main .paragraph {
  padding: 15px 0;
}
main .sub_title {
  padding: 30px 0 10px;
}
main ol {
  padding-left: 15px;
}
main ol li {
  padding: 10px;
}
main ol.alpha_list {
  list-style-type: lower-alpha;
}

/**********************************
 * FOOTER
 * section
 */
footer {
  height: 45px;
  background-color: #F5F5F5;
  margin-top: 30px;
}
footer .footer_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer_row .footer_left ul {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
footer .footer_row .footer_left ul li {
  padding-right: 10px;
}
footer .footer_row .footer_right .fas {
  color: #3367d6;
}
footer .footer_row .footer_right select {
  width: 180px;
  margin-left: 5px;
}
