/**********************************
 * VARIABLES
 * utility
 */
/**********************************
 * MIXIN
 * utility
 */
/**********************************
 * COMMON
 * utility
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

a {
  color: #000000;
  text-decoration: none;
  transition: all 0.2s ease;
}

ul {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
}
.wrapper.w1 {
  width: 1150px;
}
.wrapper.w2 {
  width: 1550px;
}

.wrapper60 {
  width: 60%;
  margin: 0 auto;
}

.txt_logo {
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  color: #5f6368;
}

.txt_nav {
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
  color: #5f6368;
}

.txt_question {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #3c4043;
}

.txt_sub_title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: #3c4043;
}

.txt_footer {
  font-size: 11px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(61, 61, 61, 0.8);
}

/**********************************
 * HEADER
 * section
 */
header {
  padding: 20px 0 0 20px;
  border-bottom: 1px solid #CCCCCC;
}
header .head_top {
  height: 44px;
}
header .head_nav {
  height: 30px;
}
header .head_nav li {
  margin-right: 45px;
}
header ul {
  display: flex;
  align-items: center;
}

/**********************************
 * MAIN
 * section
 */
.question {
  padding: 80px 0 10px;
}

.paragraph {
  padding: 15px 0;
}

.sub_title {
  padding: 30px 0 10px;
}

/**********************************
 * FOOTER
 * section
 */
footer {
  height: 45px;
  background-color: #F5F5F5;
  margin-top: 30px;
}
footer .footer_left ul {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
footer .footer_left ul li {
  padding-right: 10px;
}
