/**********************************
 * COMMON
 * utility
 */

// % PROLEGOMENA % 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: $white;
	color: $black2;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}
a {
	color: $black;
	text-decoration: none;
	transition: all .2s ease;
	// &:hover {
	// 	color: $blue;
	// }
}
ul {
	list-style: none;
}
.wrapper {
	margin: 0 auto;
	&.w1 { width: 1150px; }
	&.w2 { width: 1550px; }
}
.wrapper60 {
	width: 60%;
	margin: 0 auto;
}

// % TEXTS % 
.txt_logo {
	font-size: 22px;
	line-height: 24px;
	font-weight: 400;
	color: $black4;
}
.txt_nav {
	font-size: 15px;
	line-height: 21px;
	font-weight: 500;
	color: $black4;
}
.txt_question {
	font-size: 24px;
	line-height: 32px;
	font-weight: 500;
	color: $black3;
}
.txt_sub_title {
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	color: $black3;
}
.txt_footer {
	font-size: 11px;
	line-height: 24px;
	font-weight: 300;
	color: rgba(61, 61, 61, 0.8);
}
