/**********************************
 * MAIN
 * section
 */

.question {
	padding: 80px 0 10px;
	// border: 1px dashed red;
}
// .answer {
// 	padding: 20px 0;
// }
.paragraph {
	padding: 15px 0;
	// color: green;
}
.sub_title {
	padding: 30px 0 10px;
	// color: red;
}