/**********************************
 * MAIN
 * section
 */

main {
	padding-top: 90px;
	.question {
		padding: 80px 0 10px;
	}
	.paragraph {
		padding: 15px 0;
	}
	.sub_title {
		padding: 30px 0 10px;
	}
	ol {
		padding-left: 15px;
		li {
			padding: 10px;
		}
		&.alpha_list {
			list-style-type: lower-alpha;
		}
	}
}

