/**********************************
 * VARIABLES
 * utility
 */
 
// % COLORS % 
$white	: #FFFFFF;
$brown	: #58412D;
$blue	: #314A8F;
$blue2	: #263566;
$cream	: #FFE7D2;
$grey	: #CCCCCC;
$black	: #000000;