/**********************************
 * VARIABLES
 * utility
 */
 
// % COLORS % 
$white	: #FFFFFF;
$blue	: #3367d6;
$grey	: #CCCCCC;
$grey2	: #F5F5F5;
$black	: #000000;
$black2 : rgba(0, 0, 0, 0.87);
$black3 : #3c4043;
$black4 : #5f6368;